In [2]:
print("Twinkle, twinkle, little star, \n\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky. \nTwinkle, twinkle, little star, \n\tHow I wonder what you are!")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!

In [3]:
import sys
print("Python version")
print (sys.version)

Python version
3.7.12 (default, Sep 10 2021, 00:21:48)
[GCC 7.5.0]

In [5]:
import datetime
now = datetime.datetime.now()
print ("Current date and time : ")
print (now.strftime("%Y-%m-%d %H:%M:%S"))

Current date and time :
2022-01-01 17:05:13

In [7]:
from math import pi

r = float(input ("Enter radius of circle : "))

print ("Area of the circle is: " + str(pi * r**2))

Enter radius of circle : 7
Area of the circle is: 153.93804002589985

In [11]:
fname = input("type your First Name : ")
lname = input("type your Last Name : ")
print ("SALAM  " + lname + " " + fname)

type your First Name : anoosha
type your Last Name : khan
SALAM  khan anoosha

In [10]:
a = input("Write First number: ")
b = input("Write Second number: ")

ADD = int(a) + int(b)

print("The sum is: ", ADD)

Write First number: 2
Write Second number: 2
The sum is:  4